body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 2000px;
}

.hero {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: auto;
  margin-top: 7rem;

}

.hero-left-img,
.hero-right-img {
  height: 23rem;
  width: 16.5rem;
}

.hero-left-text,
.hero-right-text {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: black 1px 0 10px;
  margin-top: 17rem;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



.hero-left-hidden,
.hero-right-hidden {
  display: none;
  margin-top: .4rem;
  font-size: 1.1rem;
  font-weight: 550;
}




@media (min-width: 790px) {
  .hero {
    display: flex;
  }

  .hero-right:hover .hero-right-text {
    transform: translateY(-40px);
  }

  .hero-left:hover .hero-left-text {
    transform: translateY(-40px);
  }

  .hero-left:hover .hero-left-hidden {
    display: block;
  }

  .hero-right:hover .hero-right-hidden {
    display: block;
  }
  

  .hero-left-text,
  .hero-right-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: black 1px 0 10px;
    margin-top: 19rem;
    width: 20rem;
    height: 10rem;
    transition: transform 0.2s ease-in-out;
  }
 .hero-left-img {
  height: 29rem;
  width: 20rem;
}

.hero-right-img {
  height: 29rem;
  width: 20rem;
}
}

.auto-grid {
  margin-top: 3rem;
  padding: 0;
  --auto-grid-min-size: 21rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.auto-grid li {
  padding: 5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #1e232b;
  color: #ffffff;
}

.new-items {
  margin-top: 3rem;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: sticky;
  top: 0;
}

.progress-bar {
  height: 8px;
  background-color: #1e232b;

  width: 0%;
}
